@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* Default Styles */
*::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1300px;
  height: auto;
  margin: 0px auto;
  padding: 0px 30px;
}

@media (max-width: 768px) {
  .container {
    padding: 0px 15px;
  }
}

/*Background Animation*/
/*.bg-anim {*/
/*    background: linear-gradient(89deg, #105644, #151056, #561031);*/
/*    background-size: 600% 600%;*/

/*    -webkit-animation: AnimationName 8s ease infinite;*/
/*    -moz-animation: AnimationName 8s ease infinite;*/
/*    -o-animation: AnimationName 8s ease infinite;*/
/*    animation: AnimationName 8s ease infinite;*/
/*}*/

/*@-webkit-keyframes AnimationName {*/
/*    0% {*/
/*        background-position: 0% 50%*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%*/
/*    }*/
/*}*/

/*@-moz-keyframes AnimationName {*/
/*    0% {*/
/*        background-position: 0% 50%*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%*/
/*    }*/
/*}*/

/*@-o-keyframes AnimationName {*/
/*    0% {*/
/*        background-position: 0% 50%*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%*/
/*    }*/
/*}*/

/*@keyframes AnimationName {*/
/*    0% {*/
/*        background-position: 0% 50%*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%*/
/*    }*/
/*}*/

.bg-anim {
  background: #212121;
}
